/* место для вашего кода */
/* header start */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 92px 20px 96px 28px;
  width: 1052px;
  height: 105px;
  position: relative;
}

/* nav menu start */

.header__menu {
  padding: 44px 36px 39px 27px;
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

.header__links-list {
  display: flex;
  column-gap: 32px;
  align-items: center;
  list-style: none;
}

.header__link {
  white-space: nowrap;
}

.link-letter-space {
  letter-spacing: 0.01em;
}

.header__links-list-item {
  position: relative;
}

.list-marker {
  position: absolute;
  left: -19px;
  top: 8px;
}

.header__links-list-item .header__link:not(.header__link_active) {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__link_active {
  text-decoration: none;
}

/* nav menu end */

/* logo start */

.header__logo {
  display: block;
  width: 136px;
  height: 101px;
  position: absolute;
  left: 458px;
  top: 0;
}

/* logo end */

/* adress start */

.header__address {
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0.01em;
  padding: 100px 63px 96px 184px;
  font-style: normal;
}

.header__address a {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__address .address {
  letter-spacing: 0;
}
/* adress end */

/* header end */

/* cover start */

.cover {
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

/* cover title start */
.cover__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: white;
  z-index: 1;
}

.aligned-text {
  position: absolute;
  left: 50px;
  top: 165px;
}

.aligned-text_center {
  position: absolute;
  left: 336px;
  top: 293px;
}

.aligned-text_right {
  position: absolute;
  left: 634px;
  top: 413px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

/* cover title end */

.cover__description {
  display: flex;
  color: white;
  margin: 0 50px 51px 78px;
  column-gap: 79px;
}
.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  z-index: 1;
  word-spacing: 17px;
  letter-spacing: 0.01em;
  padding-top: 12px;
}

.bet-button {
  background-color: transparent;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding: 12px 32px 11px 31px;
  border: 1px solid #fff;
  z-index: 1;
}
