/* место для вашего кода */
/* header start */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 92px 20px 96px 28px;
  width: 1052px;
  height: 105px;
  position: relative;
}

/* nav menu start */

.header__menu {
  padding: 44px 36px 39px 27px;
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

.header__links-list {
  display: flex;
  column-gap: 32px;
  align-items: center;
  list-style: none;
}

.header__link {
  white-space: nowrap;
}

.link-letter-space {
  letter-spacing: 0.01em;
}

.header__links-list-item {
  position: relative;
}

.list-marker {
  position: absolute;
  left: -19px;
  top: 8px;
}

.header__links-list-item .header__link:not(.header__link_active) {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__link_active {
  text-decoration: none;
}

/* nav menu end */

/* logo start */

.header__logo {
  display: block;
  width: 136px;
  height: 101px;
  position: absolute;
  left: 458px;
  top: 0;
}

/* logo end */

/* adress start */

.header__address {
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0.01em;
  padding: 100px 63px 96px 184px;
  font-style: normal;
}

.header__address a {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__address .address {
  letter-spacing: 0;
}
/* adress end */

/* header end */

/* cover start */

.cover {
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

/* cover title start */
.cover__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: white;
  z-index: 1;
}

.aligned-text {
  position: absolute;
  left: 50px;
  top: 165px;
}

.aligned-text_center {
  position: absolute;
  left: 336px;
  top: 293px;
}

.aligned-text_right {
  position: absolute;
  left: 634px;
  top: 413px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

/* cover title end */

.cover__description {
  display: flex;
  color: #fff;
  margin: 0 50px 51px 78px;
  column-gap: 79px;
}
.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  z-index: 1;
  word-spacing: 17px;
  letter-spacing: 0.01em;
  padding-top: 12px;
}

.bet-button {
  background-color: transparent;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 12px 32px 11px 31px;
  border: 1px solid #fff;
  z-index: 1;
  font-family: Raleway, sans-serif;
}

/* cover end */

/* lots start */

.lots {
  padding: 253px 24px 146px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  position: relative;
}

.lots__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  position: absolute;
  top: 191px;
  left: 64px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
}

.card-link {
  position: relative;
  display: block;
  text-decoration: none;
}

.card {
  min-height: 563px;
  width: 334px;
  flex-grow: 1;
  flex-shrink: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.card.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 1;
  position: relative;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
  padding: 51px 40px 0;
  text-underline-offset: 2px;
  text-decoration-skip-ink: none;
}

.card__text {
  z-index: 1;
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  padding: 0 40px 48px;
}

.lots__look-more-link {
  color: #000;
  display: block;
  margin-top: 28px;
  margin-left: 40px;
  text-decoration: none;
  border-bottom: 1px solid #000;
  width: 192px;
  white-space: nowrap;
}
/* lots end */
