/* место для вашего кода */
/* header start */

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1052px;
  height: 105px;
  margin: 92px 20px 96px 28px;
}

/* nav menu start */

.header__menu {
  padding: 44px 36px 39px 27px;
  color: #000;
  font-weight: 400;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  align-items: center;
  column-gap: 32px;
  list-style: none;
}

.header__link {
  white-space: nowrap;
}

.link-letter-space {
  letter-spacing: 0.01em;
}

.header__links-list-item {
  position: relative;
}

.list-marker {
  position: absolute;
  top: 8px;
  left: -19px;
}

.header__links-list-item .header__link:not(.header__link_active) {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.header__link_active {
  text-decoration: none;
}

/* nav menu end */

/* logo start */

.header__logo {
  position: absolute;
  top: 0;
  left: 458px;
  display: block;
  width: 136px;
  height: 101px;
}

/* logo end */

/* adress start */

.header__address {
  padding: 100px 63px 96px 184px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  letter-spacing: 0.01em;
}

.header__address a {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.header__address .address {
  letter-spacing: 0;
}
/* adress end */

/* header end */

/* cover start */

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* cover title start */
.cover__title {
  z-index: 1;
  color: white;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  position: absolute;
  top: 165px;
  left: 50px;
}

.aligned-text_center {
  position: absolute;
  top: 293px;
  left: 336px;
}

.aligned-text_right {
  position: absolute;
  top: 413px;
  left: 634px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

/* cover title end */

.cover__description {
  display: flex;
  column-gap: 79px;
  margin: 0 50px 51px 78px;
  color: #fff;
}
.cover__description-text {
  z-index: 1;
  padding-top: 12px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  word-spacing: 17px;
}

.bet-button {
  z-index: 1;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

/* cover end */

/* lots start */

.lots {
  position: relative;
  padding: 253px 24px 146px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__title {
  position: absolute;
  top: 191px;
  left: 64px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
}

.card-link {
  position: relative;
  display: block;
  text-decoration: none;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  align-content: space-between;
  width: 334px;
  min-height: 563px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  padding: 51px 40px 0;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  padding: 0 40px 48px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  width: 192px;
  margin-top: 28px;
  margin-left: 40px;
  border-bottom: 1px solid #000;
  color: #000;
  text-decoration: none;
  white-space: nowrap;
}
/* lots end */

/* about start */
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  padding: 35px 0 0 47px;
}

.about__logo {
  position: relative;
  left: -23px;
  width: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000;
  background-image: url(../images/logo-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 144px 114px;
  aspect-ratio: 1;
}

.about__title {
  margin-top: 102px;
  margin-left: 2px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  margin-top: 99px;
  margin-left: 2px;
  padding-right: 27px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.text-letter-space {
  letter-spacing: 0.01em;
}

.second-text {
  margin-top: 6px;
}

/* about end */

/* footer start */

.footer {
  display: flex;
  gap: 199px;
  width: 1000px;
  height: 98px;
  margin: 180px 50px 88px;
}

/* footer adress start */

.footer__address {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  letter-spacing: 0.01em;
}
.footer__address a {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.footer__address .address {
  letter-spacing: 0;
  white-space: nowrap;
}

/* footer adress end */

.footer__menu {
  position: relative;
  display: flex;
}

.footer__menu-list,
.footer__social-list {
  list-style: none;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  margin: 1px 1px 1px 11px;
  text-align: center;
}

.footer__menu-link {
  position: relative;
  top: -1px;
  left: 14px;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  white-space: nowrap;
}

.footer__menu-link:not(.footer__menu-link_active) {
  border-bottom: 1px solid #000;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

/* footer end */